{
  "comments": false,
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["babel-root-import", { "rootPathSuffix": "src" }],
    ["transform-object-rest-spread"]
  ],
  "env": {
    "production": {
      "plugins": [
        ["babel-root-import", { "rootPathSuffix": "dist" }]
      ],
    },
  }
}
