{
  "parser": "babel-eslint",
  "extends" : [
    "standard",
  ],
  "plugins": [
    "babel"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
  }
}
