{
  "parser": "babel-eslint",
  "extends" : [
    "standard",
  ],
  "plugins": [
    "babel"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": 1
  }
}
